<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frameworktest.ciq_intents_receiver" >

    <uses-permission android:name="diagandroid.app.receiveDetailedApplicationState" />
    <uses-permission android:name="diagandroid.phone.receiveDetailedCallState" />
    <uses-permission android:name="diagandroid.data.receivePDPContextState" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.frameworktest.ciq_intents_receiver.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.frameworktest.ciq_intents_receiver.CallDisconnectReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="diagandroid.phone.detailedCallState" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.frameworktest.ciq_intents_receiver.LogActivity"
            android:label="@string/title_activity_log" >
        </activity>
    </application>

</manifest>
